// VARIÁVEIS CSS

$card-bg: #BCCC9A;
$body-bg: #D1E8E4;
$purple: #C37B89;
$orange: #D57A66;

// INÍCIO CONFIGURAÇÕES INICIAIS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

@mixin grid($cols) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100%/#{$cols}), 1fr));
}

@mixin flex ($direction: row) {
    display: flex;
    flex-flow: $direction nowrap;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: $body-bg;
}

// FIM CONFIGURAÇÕES INICIAIS

.title {
    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin: 2rem;
    }
}

// INÍCIO SECTION MENU

.menu {
    width: 100vw;
    @include flex();
    flex-wrap: wrap;
}

.card {
    @include flex(column);
    background-color: $card-bg;
    border-radius: 3rem;
    margin: 1.5rem;
    height: 40rem;
    flex: 1 1 20%;

    .card--img {
        width: 30rem;
        height: 30rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .card--addChart {
            cursor: pointer;
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            background-color: $purple;
            color: #fff;
            font-weight: bold;
            font-size: 2rem;
            @include flex();
            position: absolute;
            bottom: -1rem; left: 44%;

            &:hover {
                background-color: $orange;
            }
        }
    }

    .card--desc {
        @include flex(column);

        span {
            font-size: 1.6rem;
            margin-top: 1.2rem;
        }

        h1 {
            font-size: 2rem;
            margin: 1rem 0;
        }

        p {
            padding: 0 1rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

// FIM SECTION MENU

// INÍCIO SECTION MENU COMPRAS

hr {
    height: .2rem;
    background-color: $purple;
    margin: 1rem;
}

.mnu-chart {
    width: 45rem;
    height: 100vh;
    position: fixed;
    top: 0; right: 0;
    background-color: #8ae9d9;
    padding: 1.5rem;

    h1 {
        font-size: 3rem;
        margin: 1.5rem;
    }

    .produtos-qtde {
        font-size: 2.2rem;
        display: flex;
        justify-content: space-between;

        span {
            margin: 1.5rem;
        }

        .produt-qtde {
            width: 10rem;
            font-size: 2rem;
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: #eee;
        }
    }

    .produtos-totais {

        .subtotal, .desconto {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem;
            font-size: 1.9rem;
        }

        .total {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem;
            font-size: 2.5rem;
            font-weight: bold;
        }

    }

    .btn-finaliza {

        margin: 2.5rem 0;

        button {
            cursor: pointer;
            padding: 2rem;
            border-radius: 1rem;
            font-size: 2rem;
            font-weight: bold;
            width: 100%;
            color: #fff;
            background-color: $purple;

            &:hover {
                background-color: $orange;
                transition: all .5s linear;
            }
        }

    }
}

// FIM SECTION MENU COMPRAS