* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #D1E8E4;
}

.title h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem;
}

.menu {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BCCC9A;
  border-radius: 3rem;
  margin: 1.5rem;
  height: 40rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.card .card--img {
  width: 30rem;
  height: 30rem;
  position: relative;
}

.card .card--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card .card--img .card--addChart {
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #C37B89;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -1rem;
  left: 44%;
}

.card .card--img .card--addChart:hover {
  background-color: #D57A66;
}

.card .card--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card--desc span {
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

.card .card--desc h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.card .card--desc p {
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

hr {
  height: .2rem;
  background-color: #C37B89;
  margin: 1rem;
}

.mnu-chart {
  width: 45rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #8ae9d9;
  padding: 1.5rem;
}

.mnu-chart h1 {
  font-size: 3rem;
  margin: 1.5rem;
}

.mnu-chart .produtos-qtde {
  font-size: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mnu-chart .produtos-qtde span {
  margin: 1.5rem;
}

.mnu-chart .produtos-qtde .produt-qtde {
  width: 10rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #eee;
}

.mnu-chart .produtos-totais .subtotal, .mnu-chart .produtos-totais .desconto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem;
  font-size: 1.9rem;
}

.mnu-chart .produtos-totais .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.mnu-chart .btn-finaliza {
  margin: 2.5rem 0;
}

.mnu-chart .btn-finaliza button {
  cursor: pointer;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  color: #fff;
  background-color: #C37B89;
}

.mnu-chart .btn-finaliza button:hover {
  background-color: #D57A66;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
/*# sourceMappingURL=style.css.map */